<phpunit bootstrap="bootstrap.php">
    <testsuites>
        <testsuite name="system">
            <file>system/command.php</file>
            <file>system/vessel.php</file>
            <file>system/decoration.php</file>
            <file>system/makeconst.php</file>
        </testsuite>
        <testsuite name="utils">
            <file>utils/parser.php</file>
            <file>utils/validater.php</file>
            <file>utils/strutils.php</file>
            <file>utils/mimevalidation.php</file>
        </testsuite>
        <testsuite name="command">
            <directory suffix=".php">commands</directory>
        </testsuite>
    </testsuites>
</phpunit>
