
    public function provideValidate@DTD@()
    {
        $params = [
@DATA@
        ];
        return $params;
    }

    /** @dataProvider provideValidate@DTD@ */
    public function testValidate@DTD@(string $dtd, string $text, array $params, string $result, string $description)
    {
        $this->changeDtd($dtd);
        $data = $this->makeCommandCase($text);
        $paramaters = $data['vessel']->getParamaters();
        // パラメータ存在チェック
        $this->assertEquals($params, $paramaters);
        // パラメータ記述確認チェック
        $validated = HtmlValidation::validate($data['command'], $paramaters);
        $this->assertEquals($result, $validated);
    }
