<?php
namespace Hasarius\test\commands;

require_once("HasariusTest.php");
use Hasarius\test\HasariusTest;
use Hasarius\utils\HtmlValidation as HtmlValidation;

class TestCommand@COMMAND_NAME@ extends HasariusTest
{
@TEST_SOURCE@
}
