<?php
namespace Hasarius\test\decorations;

require_once("HasariusTest.php");
use Hasarius\test\HasariusTest;
use Hasarius\utils\HtmlValidation as HtmlValidation;

class TestDecoration@COMMAND_NAME@ extends HasariusTest
{
@TEST_SOURCE@
}
